<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
		<string>es</string>
		<string>de</string>
		<string>it</string>
		<string>pt</string>
		<string>nl</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>so.drafft.app.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>drafft</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<true/>
	<key>RevenueCatAPIKey</key>
	<string>$(REVENUECAT_API_KEY)</string>
	<key>SmsCodeLifetime</key>
	<string>$(SMS_CODE_LIFETIME)</string>
	<key>SupabasePublishableKey</key>
	<string>$(SUPABASE_PUBLISHABLE_KEY)</string>
	<key>SupabaseURL</key>
	<string>$(SUPABASE_URL)</string>
	<key>TurnstileSiteKey</key>
	<string>$(TURNSTILE_SITE_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>InterDisplay-Black.ttf</string>
		<string>InterDisplay-ExtraBold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchMark</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
